body {
  color: #79d70f;
  font-family: "Press Start 2P", cursive;
  background-image: url("./double-bubble-dark.png");
  display: flex;

  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  height: 100vh;
}

#title-div {
  text-align: center;
}
#game {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 90vw;
}

#game div {
  border: 1px solid white;
  width: 15%;
  height: 200px;
  margin: 10px;
}

#messages {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  text-align: center;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);

  align-items: center;
  padding-top: 100px;
}

#message-content {
  background-color: black;
  opacity: 1;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  font-size: 1.5rem;
  margin: 3rem 0;
  padding: 0 2rem;
}
button:hover {
  box-shadow: inset 8px 5px 8px goldenrod, inset -8px -5px 8px goldenrod;
  background-color: transparent;
  color: goldenrod;
}
form {
  display: flex;
}
label {
  font-size: 1rem;
  display: flex;
  align-items: center;
}
input {
  font-size: 1rem;
}
#reset {
  display: none;
}

#top-score {
  padding-bottom: 10px;
}
