body {
  color: #79d70f;
  font-family: "Press Start 2P", cursive;
  background-image: url("./double-bubble-dark.png");
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  font-size: 2rem;
}

a {
  text-decoration: none;
  color: purple;
  display: inline-block;
  border: solid purple 2px;
  cursor: pointer;
  padding: 0.2rem;
}
a:hover {
  font-size: 3rem;
  border: solid white 4px;
}
form {
  text-align: center;
}
input[type="text"] {
  font-size: 1rem;
}
